:root {
    /* colors */
    --brand-1: #269fcb;
    --brand-2: #4faed1;
    --brand-3: #e2c21f;
    --brand-4: #ffd500;
    --grey-1: #1a3654;
    --grey-2: rgba(73, 80, 87, 1);
    --grey-3: rgba(134, 142, 150, 1);
    --grey-4: rgba(222, 226, 230, 1);
    --grey-5: rgba(241, 243, 245, 1);
    --grey-6: rgba(248, 249, 250, 1);
    --modal-add: #4ba256;
    --error-: #c64242;

    /* font-sizes */
    --fs-24: 1.5rem;
    --fs-16: 1rem;
    --fs-14: .875rem;

    /* font-weights */
    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;
    --fw-400: 400;

    /* font-familys */
    --ff-title: 'Inter', sans-serif;
    --ff-primary: 'IBM Plex Sans', sans-serif;

    /* border-radius */
    --br-8: .5rem;
}

/* Utility Classes */

button {
    font-family: var(--ff-primary);
    border-radius: var(--br-8);
    font-size: var(--fs-14);
    font-weight: var(--fw-500);
    padding: .35rem .5rem;
}

.container {
    width: 30.7rem;
}

.intern-padding {
    padding-inline: 1rem;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-height {
    height: 3.25rem;
}

.border-radius__8 {
    border-radius: var(--br-8);
}

/* Page Itens */
body {
    font-family: var(--ff-primary);
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(./todo-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Main */
main {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.title__box {
    background-color: var(--brand-3);
    padding: .5rem 1rem;
    border-radius: var(--br-8);
}

.title__box > h1 {
    font-family: var(--ff-title);
    font-size: var(--fs-24);
    font-weight: var(--fw-600);
    color: var(--grey-1);
}

main > h5 {
    position: absolute;
    top: 3.125rem;
    font-weight: var(--fw-400);
    color: var(--grey-1);
    opacity: .3;
}

/* Create Tasks Box */
.create-tasks {
    margin-top: 3.125rem;
    margin-bottom: 2.75rem;
    background-color: var(--grey-6);
}

.create-tasks__inpt {
    background-color: transparent;
    width: 80%;
}

.create-tasks__inpt::placeholder {
    font-family: var(--ff-primary);
    font-size: var(--fs-16);
    font-weight: var(--fw-500);
    color: var(--grey-2);
}


.create-task__submit {
    background-color: var(--brand-1);
    color: white;
    padding: .4rem  .9rem;
    transition: .25s ease-in-out;
}

.create-task__submit:hover {
    background-color: var(--brand-2);
    color: var(--brand-4);
}

/* Tasks List */
.tasks__list {
    display: flex;
    flex-direction: column;
    gap: 1.3125rem;
    max-height: 22rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.scroller {
    scrollbar-width: thin;
}

.tasks__item {
    background-color: var(--grey-5);
    transition: .25s ease-in-out;
}

.tasks__item:hover {
    background-color: var(--brand-3);
    transition: .25s ease-in-out;
}

.tasks__item:hover p {
    color: var(--grey-1);
}

.tasks__item > p {
    font-size: var(--fs-16);
    font-weight: var(--fw-500);
    color: var(--grey-2);
    max-width: 90%;
    overflow-x: auto;
}

.tasks__remove {
    background-color: var(--grey-4);
    color: var(--grey-2);
    transition: .25s ease-in-out;
}

.tasks__remove:hover {
    background-color: var(--grey-2);
    color: var(--brand-4);
}

/* Modals */

.modals {
    height: max-content;
    width: max-content;
    position: absolute;
    top: 150px;
    left: 42.2vw;
    z-index: 100;
}

dialog {
    border-radius: 1rem;
    animation: modal-in 1s ease-in-out;
}

.modal__info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 200px;
    border-radius: var(--br-8);
    background-color: var(--modal-add);
}

.modal__green {
    background-color: var(--modal-add);
}

.modal__txt {
    color: var(--brand-4) !important;
}

.modal__out {
    animation: modal-out 1s ease-in-out forwards; 
}

.modal__error {
    background-color: var(--error-) !important; 
}

@keyframes modal-in {
    0% {
        opacity: 0;
        transform: translateY(-150%);
    }
    50% {
        opacity: .7;
        transform: translateY(20%);
    }
    80% {
        opacity: 1;
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0);
    }

}


@keyframes modal-out {
    100% {
        opacity: .4;
        transform: translateY(-150%);
    }
    80% {
        opacity: .9;
        transform: translateY(20%);
    }
    50% {
        transform: translateY(-10%);
    }
    0% {
        transform: translateY(0);
    }

}



